# Ignore Visual Studio files
.vs/
*.exe
*.log
*.obj
*.pch
*.dll
*.pdb
*.ilk
*.idb
*.ipch
*.aps
*.ncb
*.sdf
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.map
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlog
*.vcxproj.user
